@import "../../color-theme.scss";

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $background-primary;
    font-size: 1rem;
    padding: 9px 15px;
    position: fixed;
    width: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border-bottom: solid 1px black;
    z-index: 10;

    .button {
        padding: 8px 15px;
        text-decoration: none;
        color: $text-faded;
        border-radius: 3px;

        &:first-child {
            color: $text-primary;
        }

        &:hover {
            color: $text-highlight;
        }

        &.active {
            background-color: $background-highlight;
            color: $text-highlight;
        }
    }
}