@import "./color-theme.scss";

#pg1 {
    padding: 45px 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #cover-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 45px;
        height: 80%;
        width: 100%;
    
        #header-card {
            max-width: 380px;
            align-self: flex-start;
        }
        
        #portrait {
            width: 250px;
            height: 250px;
            align-self: center;
            border-radius: 50%;
            box-shadow: 2px 2px 5px black;
        }
    }
}

#pg2 {
    #about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65%;
        padding: 100px 25px;

        #about-body {
            max-width: 600px;
            align-self: flex-end;

            hr {
                margin: 15px 0px 8px 0px;
            }
        }
    }
}

#pg3 {
    #portfolio-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
}

#pg4 {
    #contact-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 150px;

        #social-links-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 25px;
            margin-top: 15px;

            .icon-link {
                padding: 10px 10px 7px 10px;
                border-radius: 5px;
                border: 2px solid $background-primary;

                &:hover {
                    border: 2px solid $text-highlight;
                }
            }
        }
    }
}