#navbar {
    height: 45px;
}

#pg1 {
    padding: 95px 45px 45px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cover-container {
    display: flex;
    align-items: center;
}
